html  {
  margin:0;
  padding:0;
}
body 
{
width: 1200px; 
height: 1080px;
background-color: #1b1d21;
color: white;
font-family: 'TitilliumText25L005', sans-serif;
font-size: 19px;
padding:0;
margin: auto;
}

@font-face { /* Définition d'une nouvelle police nommée TitilliumText25L*/
    font-family: 'TitilliumText25L005';
    src: url('TitilliumText25L005.otf');
	
}
/*---------------HEADER------------*/
header
{
width:1200px;
height:219px;
}
#logo
{
width: 610px; height: 218px;
margin: auto;
}
#teamspeak
{
width:201px; height: 29px;
float: right;
margin: -29px 0 0 0;
}

#fleche
{
float: right;
margin: 7.5px 0 0 10px;
}

#menulangue ul {
margin:0;
padding:0;
list-style-type:none;
}
#menulangue li {
float: right;
text-decoration:none;
margin: 14px 0 0 0;
}
#menulangue ul li a {
display: block;
text-decoration:none;
color: white;
font-size:14px;
font-family: 'TitilliumText25L005', sans-serif;

}
#menulangue ul li a:hover {
color:#3598d8;
}
#langue {
opacity: 0.6;
}
#menulangue ul li ul {
display:none;
}
#menulangue li ul li{
margin-top: 0;
}
#menulangue ul li:hover ul {
display:block;
}
#menulangue li:hover ul li {
float:none;
}
/*------------------BLOCK-------------------*/


#block
{
background-color: #323438;
width: 900px;
height: 400px;
display: inline-block;
margin-left: 300px;
overflow: auto;
}

/*------------------------SECTION------------*/

#barre
{
background-image: url('images/barre.png');
background-repeat: no-repeat;
margin: 30px 0 0 0; 
width: 1200px;
height: 1px;

}
#barre2
{
background-image: url('images/barre.png');
background-repeat: no-repeat;
margin: 40px 0 0 0; 
width: 1200px;
height: 1px;

}
#avancement
{
background-image: url('images/project_progress.png');
background-repeat: no-repeat;
margin: 40px 0 0 29px; 
width: 125px;
height: 17px;
}

#equipe
{
background-image: url('images/the_team.png');
background-repeat: no-repeat;
margin: 40px 0 0 29px; 
width: 72px;
height: 14px;
}
#Chef_de_projet {
background-image: url('images/project_manager.png');
background-repeat: no-repeat;
margin: -29px 0 0 300px; 
width: 166px;
height: 33px;
}
#Graphiste {
background-image: url('images/webdesigner.png');
background-repeat: no-repeat;
margin: -32px 0 0 495px; 
width: 144px;
height: 33px;
}
#Developpeur {
background-image: url('images/web_integrator.png');
background-repeat: no-repeat;
margin: -32px 0 0 667px; 
width: 159px;
height: 32px;
}
.bulle_chef{
position:absolute; display:none; 
background-image: url('images/note.png');
background-repeat: no-repeat;
margin: 9px 0 0 237px; 
width: 250px;
height: 106px;
}
.bulle_chef #texte_chef{
display: block;
font-size: 12px;
margin: 6px 0 0 3px;
overflow: auto;
}
.chef:hover .bulle_chef
{
display:block;
}
.bulle_graph
{
position:absolute; display: none;
background-image: url('images/note.png');
background-repeat: no-repeat;
margin: 9px 0 0 432px;
width: 250px;
height: 106px;
}
.Graph:hover .bulle_graph{
display: block;
}
.bulle_graph #texte_graph{
display: block;
font-size: 12px;
margin: 6px 0 0 3px;
overflow: auto;
}
.bulle_dev
{
position: absolute; display:none;
background-image: url('images/note.png');
background-repeat: no-repeat;
margin: 9px 0 0 625px;
width: 250px;
height: 106px;
}

.dev:hover .bulle_dev{
display:block;
}

.bulle_dev #texte_dev
{
display: block;
font-size: 12px;
margin: 5px 0 0 3px;
overflow: auto;
}

section
{
width: 0px;
height: 0px;
}
/*---------------------BARRE DE PROGRESSION-----------------*/
.progress-bar { 
    width: 800px;
    height: 11px;
    margin: -14px 0 0 300px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before { 
    content: '';
    display: block;
    position: absolute;
	margin: 3px 0 0 2px;
    width: 320px;
    height: 4px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
	margin: 3px 0 0 2px;
    width: 320px;
    height: 4px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}
.blue:before { 
  background: #2497e0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#2497e0));
  background: -moz-linear-gradient(top, #099, #2497e0);
}

#pourcentage{
background-image: url('images/40.png');
margin: -14px 0 0 1125px;
width: 33px;
height: 14px;
}

/*---------------------MENU-----------------*/

nav
{
float: left;

}
.menu
{
display: inline-block;
width: 0px;
}

.menu li{
float: none;
list-style-type:none;
}
.menu li a{
    display:block;  /*--- Make the entire button are clickable rather than the text alone ---*/
    text-indent: -9999px; /*--- Push the text off screen to hide text---*/
    overflow: hidden; /*--- Makes text outside of bounding box hidden ---*/
    height:33px;

}

.menu li#presentation{
background-image: url(images/Introduction.png);
width:300px;
height:50px;
}
.menu li#Agenda{
background-image: url(images/diary.png);
width:300px;
height:50px;
}
.menu li#Team{
background-image: url(images/team.png);
width:300px;
height:50px;
}
.menu li#Live{
background-image: url(images/live.png);
width:300px;
height:50px;
}
.menu li#Match{
background-image: url(images/match.png);
width:300px;
height:50px;
}
.menu li#Jeux{
background-image: url(images/games.png);
width:300px;
height:50px;
}
.menu li#playnow{
background-image: url(images/playnow.png); 
width:300px;
height:50px;
}
.menu li#reseauxsociaux{
background-image: url(images/socialnetworks.png);
width:300px;
height:51px;
}


.menu li#presentation :hover{
background-image: url(images/introductionhover.png);
width:300px;
height:50px;
}
.menu li#Agenda :hover{
background-image: url(images/diaryhover.png);
width:300px;
height:50px;
}
.menu li#Team :hover{
background-image: url(images/teamhover.png);
width:300px;
height:50px;
}
.menu li#Live :hover{
background-image: url(images/livehover.png);
width:300px;
height:50px;
}
.menu li#Match :hover{
background-image: url(images/matchhover.png);
width:300px;
height:50px;
}
.menu li#Jeux :hover{
background-image: url(images/gameshover.png);
width:300px;
height:50px;

}
.menu li#playnow :hover{
background-image: url(images/playnowhover.png);
width:300px;
height:50px;
}
.menu li#reseauxsociaux :hover{
background-image: url(images/socialnetworkshover.png);
width:300px;
height:50px;
}

/*----------------BLOCK MENU----------------*/

#blocks{
background-color:#323438;
width: 900px;
height: 400px;
display: inline-block;
margin-left: 300px;
overflow:hidden;
}

#block_presentation{
background-color: #323438;
color: #48494c;
font-size: 18px;
font-family: "Myriad Pro", sans-serif;
font-weight: regular;
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_agenda{
background-color: #323438;
position: relative;
top: -400px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_team{
background-color: #323438;
position: relative;
top: -800px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_live{
background-color: #323438;
position: relative;
top: -1200px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_match{
background-color: #323438;
position: relative;
top: -1600px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_jeux{
background-color: #323438;
position: relative;
top: -2000px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_playnow{
background-color: #323438;
position: relative;
top: -2400px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}

#block_reseauxsociaux{
background-color: #323438;
position: relative;
top: -2800px;
left: -900px;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
z-index: 7;
}
/* NOTE DU PROJET */

#noteprojet
{
background-image: url('images/voteproject.png');
background-repeat: no-repeat;
margin: 39px 0 0 29px; 
width: 85px;
height: 17px;
}

#barre_bleue
{
background-image: url('images/barre_blue.png');
background-repeat: no-repeat;
margin: -32px 0 0 300px; 
width: 1px;
height: 50px;
}

#neuf
{
background-image: url('images/9.png');
background-repeat: no-repeat;
margin: 6px 0 0 315.5px; 
width: 8px;
height: 11px;
}

#dix
{
background-image: url('images/10.png');
background-repeat: no-repeat;
margin: -32px 0 0 310px; 
width: 18px;
height: 13px;
}

#once
{
background-image: url('images/11.png');
background-repeat: no-repeat;
margin: -46px 0 0 312.5px; 
width: 12px;
height: 10px;
}

#commentaire
{
background-image: url('images/comment.png');
background-repeat: no-repeat;
margin: -12px 0 0 344px; 
width: 796px;
height: 51px;
}

#envoyez
{
background-image: url('images/send.png');
background-repeat: no-repeat;
margin: -51px 0 0 1150px; 
width: 50px;
height: 51px;
}


/*-----------------FOOTER-----------*/
#footer
{
background-image: url('images/footer.png');
background-repeat: no-repeat;
margin: 961px 0 0 -5px;
width: 1200px;
height: 89px;
}


